@tailwind base;
@tailwind components;
@tailwind utilities;

/*___________ REUSABLE_STYLES ___________*/
.flex_between {
  @apply flex items-center justify-between;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
#root {
  overflow: hidden;
  height: inherit;
}

/*___________ SCROLL_STYLE ___________*/
/* For WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* For Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  scrollbar-track-color: #f1f1f1;
  scrollbar-face-color: #888;
  scrollbar-face-color: #555;
} */
